*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/

# Project exclude paths
/base-android/build/
/base-android/build/intermediates/javac/debug/classes/
/navigation/build/
/navigation/build/intermediates/javac/debug/classes/