<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reprator.mobiquity.addcity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required for foreground services on P+. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${API_KEY_MAP}" />

        <!-- Foreground services in Q+ require type. -->
        <service
            android:name=".service.LocationTracker"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>

</manifest>